
@media only screen and (max-width: 844px) and (min-width: 375px) and (orientation:landscape) {

  #product_galleries{
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(3, auto) !important;
    margin-top:50px;
  }

}

@media screen and (max-width: 1200px) and (min-width: 800px) and (orientation:landscape) {

  .main_site_background {
    width: 100%;

    margin-top:20px;
    height:150px;
  }

  .main_site_background--4{
    width: 50%;
    height: 500px;
    right: -25%;
    bottom: -10%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation:portrait) {
  .main_site_background {
    margin-top:60px;
  }
  .main_site_background--4{
    width: 50%;
    height: 400px;
    right: -20%;
    bottom: -10%;
  }
   #product_galleries{
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation:portrait)  {

  #gallery{
    grid-template-columns: repeat(1, 100%) !important;
    gap: 20px;
  }

  #product_galleries{
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(3, auto) !important;
    margin-top:150px;
  }

  .product--fill{
    clear:both;
  }

  .main_site_background--3 {
    margin-top: 0px;
    position: absolute;
    height: 300px;
    transform: rotateY(180deg);
    left: -0px;
    opacity: 1;
  }

   .main_site_background {
    width: 100%;
    position: absolute;
    bottom: -2.5%;
     height:150px;
  }

}

@media screen and (min-width:1400px)  {

  .main_site_background--4{
    width: 50%;
    height: 500px;
    right: -20%;
    bottom: -10%;
  }


}


@media screen and (min-width:1700px)  {

  .main_site_background--4{
    width: 50%;
    height: 500px;
    right: -20%;
    bottom: -10%;
  }


}
